<!DOCTYPE html>
<html lang="en">
<html>
<head>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">


    {% if title %}
    <title>{{ title }} - demo</title>
    {% else %}
    <title>demo</title>
    {% endif %}


</head>
<body >
<div>Result: <a href="/index">Home</a></div>
<hr>

<form name = "form" action="" method="post" name="private">
    <div class="card" style = "margin-left: 10%;margin-right: 10%">
                <div class="card-content">

    {{ form.hidden_tag() }}

    {% for i in range(length) %}




                    {% if  class_list[i].get_level()>class_list[i].get_pred() %}
                        <div class="panel panel-default" name="panel" id ="{{'panel'+str(i-1)}}" >
                        <div class="panel-body">
                        {% if not class_list[i].get_type()=="value" %}
                        <p>  <input id="{{ getattr(form,fieldname+str(i)).id }}" name="{{ getattr(form,fieldname+str(i)).name }}" type="checkbox" value="y" onchange="change_status(this)">
                        {% endif %}
                        {% if not class_list[i].get_key()[:word_len]==reserved_word %}
                        {{ class_list[i].get_key()}}
                        {% endif %}

                        </p>


                    {% elif class_list[i].get_level()==class_list[i].get_pred() %}

                        {% if not class_list[i].get_type()=="value" %}
                        <p>  <input id="{{ getattr(form,fieldname+str(i)).id }}" name="{{ getattr(form,fieldname+str(i)).name }}" type="checkbox" value="y" onchange="change_status(this)">
                        {% endif %}
                        {% if not class_list[i].get_key()[:word_len]==reserved_word %}
                        {{ class_list[i].get_key()}}
                        {% endif %}
                        </p>


                    {% elif class_list[i].get_level()< class_list[i].get_pred() %}
                        {% for i in range(class_list[i].get_pred()-class_list[i].get_level())%}
                            </div>
                        </div>
                        {% endfor %}

                        {% if not class_list[i].get_type()=="value" %}
                        <p>  <input id="{{ getattr(form,fieldname+str(i)).id }}" name="{{ getattr(form,fieldname+str(i)).name }}" type="checkbox" value="y" onchange="change_status(this)">
                        {% endif %}
                        {% if not class_list[i].get_key()[:word_len]==reserved_word %}
                        {{ class_list[i].get_key()}}
                        {% endif %}
                        </p>
                    {% endif %}




    {% endfor %}
     {% for _ in range(class_list[-1].get_level()+1) %}
        </div>
    </div>

    {% endfor %}

     <p><input type="submit" value="Submit"></p>
    </div>
    </div>


</form>



<script type="text/javascript">



var change_status = function(obj){

    var name = obj.name
    var id = 'panel'+name.substring({{ len(fieldname) }})


    var target = document.getElementById(id)
        if (target!=null){
            if(obj.checked){
                target.style.display = "none"
            }else {
                target.style.display = ""
            }
        }



    var boxes = document.getElementById(id).getElementsByTagName("input")
    for (var i = 0;i<boxes.length;i++)
    {
        if(boxes[i].type=='checkbox')
        {
            boxes[i].checked = obj.checked
            change_status(boxes[i])

        }
    }




}
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/js/bootstrap.min.js') }}"></script>
</body>
</html>