<!DOCTYPE html>
<html lang="en">
<html>
<head>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/tabber.css') }}">
    <style type="text/css">
        .row{border-top:1px solid #eeeeee}
        .row:first-child{border-top: None}
        p{margin:10px 0 10px 0}
        p.fhir-value {
            width: 100%;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
}

    </style>

    {% if title %}
    <title>{{ title }} - demo</title>
    {% else %}
    <title>demo</title>
    {% endif %}


</head>
<body >
<div>Result: <a href="/index">Home</a></div>
<hr>




<form name = "form" action="" method="post" name="private">

    <div class="hashTabber-sandstone-wrapper" >
                <ol class="hashTabber-nav hashTabber-sandstone" data-hashtabber-id="fhir_form">
                    {% for i in range(length) %}
                        {% if class_list[i].get_level()==0 %}
                            <li data-hashtabber-pair="{{  'fhir_'+class_list[i].get_key() }}" class>
                                <a href="#fhir_form={{ 'fhir_'+class_list[i].get_key() }}">{{ class_list[i].get_key() }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                </ol>







    {{ form.hidden_tag() }}

                <ol class="hashTabber-data hashTabber-sandstone" data-hashtabber-id="fhir_form">

    {% for i in range(length) %}





                    {% if i==0  %}

                        <!-- when i=0 class_list[i-1] get the last element in class_list -->
                         <li data-hashtabber-pair="{{ 'fhir_'+class_list[i].get_key() }}" class>
                        <div class="panel panel-default " name="panel" id ="panel_basic" >
                        <div class="panel-body">

                    {% elif  class_list[i].get_level()>class_list[i].get_pred() %}
                        <div class="panel panel-default " name="panel" id ="{{'panel'+str(class_list[i-1].get_seq())}}" >
                        <div class="panel-body">


                    {% elif class_list[i].get_level()< class_list[i].get_pred() %}
                        {% for i in range(class_list[i].get_pred()-class_list[i].get_level())%}
                            </div>
                        </div>
                        {% endfor %}
                        {% if i and class_list[i].get_level()==0 %}
                            </li>
                            <li data-hashtabber-pair="{{ 'fhir_'+class_list[i].get_key() }}" class>
                        {% endif %}


                    {% endif %}

                    <div class="row {% if class_list[i].get_attr()=='fold' %} fold {% else %} norm {% endif %}">
                        {% if not class_list[i].get_type()=="value" %}
                        <p  class="col-sm-3"  >  <input id="{{ getattr(form,fieldname+str(class_list[i].get_seq())).id }}" name="{{ getattr(form,fieldname+str(class_list[i].get_seq())).name }}" type="checkbox" value="y" onchange="change_status(this)">
                        {% endif %}
                        {% if not class_list[i].get_key()[:word_len]==reserved_word %}
                        {{ class_list[i].get_key()}}
                        {% endif %}


                        </p>
                        {%  if class_list[i].get_attr()=='key_of_value' %}

                            <div class="col-sm-9">
                                {% for j in range(len(class_list[i].data)) %}
                                     <div class="row"><div class="col-sm-12"><p class="fhir-value">{{  class_list[i].data[j]}}</p></div></div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        </div>




    {% endfor %}
     {% for _ in range(class_list[-1].get_level()) %}
        </div>
    </div>

    {% endfor %}

        </ol>

    </div>
        <input class="btn btn-default" type="submit" value="Submit">





</form>



<script type="text/javascript">

    function projectInterface() {
    // --------------------------------------------------
    // declare a public run function
    // with all private stuff initialized inside of it
    // --------------------------------------------------

    this.run = run;
    function run() {
        var tabber = new HashTabber();
        tabber.run();
    }

}

    var hashTabberSoundsLikeDrugs = new projectInterface();
// run functions
hashTabberSoundsLikeDrugs.run();




var change_status = function(obj){



    var name = obj.name
    var id = 'panel'+name.substring({{ len(fieldname) }})


    var target = document.getElementById(id)
        if (target!=null){
            if(obj.checked){
                target.style.display = "none"
            }else {
                target.style.display = ""
            }
        }



    var boxes = document.getElementById(id).getElementsByTagName("input")
    for (var i = 0;i<boxes.length;i++)
    {
        if(boxes[i].type=='checkbox')
        {
            boxes[i].checked = obj.checked
            change_status(boxes[i])

        }
    }




}
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/hashTabber.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/js/bootstrap.min.js') }}"></script>
</body>
</html>