<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<!--
<script type="text/javascript">
function set_openid(openid, pr)
{
    u = openid.search('<username>')
    if (u != -1) {
        // openid requires username
        user = prompt('Enter your ' + pr + ' username:')
        openid = openid.substr(0, u) + user
    }
    form = document.forms['login'];
    form.elements['openid'].value = openid
}
</script>
-->
<h1>Submit</h1>
<form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <p>
          Please enter patient's ID:<br>
          {{ form.identifier }}
          {% for error in form.identifier.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}<br>
      </p>
    <p> Select the item you want to know </p>
    {% for item in form %}
      {% if item.type == "BooleanField" %}
      <p>{{ item }} {{item.label}}</p>

      {% endif %}
    {% endfor %}
    <p><input type="submit" value="Submit"></p>

</form>
{% endblock %}